@charset "UTF-8";
#wrapper {
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

header {height: 300px;
width: 550px;
background-image: url("images/Flo-Music.jpg");
position:relative;
left: 20%;
	
	
} 

nav {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: 100px;
	width: 960px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
}

li {
	float: left;
	width: 240px;
	text-align: center;
}
ul {
	width: 960px;	margin: auto;
	list-style: none;
	background-color: #b1370e;
	padding-top: 10px;
	padding-bottom: 15px;
	height: 10px;}

aside {
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
	float:left;
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
	height: 600px;
}




footer{
	position:relative;
	left:-90px;}

a:link{
	text-decoration: none;
	color:#00c000
}

a:visited{
	text-decoration: none;
	color: #00c000}

a:hover{
	
}

h1{color:#00c000;
text-align: center;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"}

p{color:#00c000;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-indent: 5%;
	
		
}
section{color:#00c000;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url("images/DAW-Background.jpg");
	line-height: 25px;
	height: 339px
	
}